.movie-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 218px;
  overflow: hidden;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.movie-card__photo {
  display: block;
  width: 270px;
  height: 151px;
  object-fit: cover;
  cursor: pointer;
}

.movie-card__photo:hover {
  opacity: 0.9;
}

.movie-card__container {
  display: flex;
  justify-content: space-between;
  padding: 14px 12px;
}

.movie-card__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card__duration {
  color: #a0a0a0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.movie-card__save-btn {
  display: flex;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  border: 0;
  padding: 0;
}

.movie-card__save-btn::after {
  content: "";
  position: absolute;
  display: block;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.movie-card__save-btn_saved::after {
  background-color: #2be080;
}

.movie-card__save-btn_saved:hover::after {
  opacity: 0.8;
} 

.movie-card__delete-btn {
  width: 16px;
  height: 16px;
  background-image: url(../../images/delete-icon.svg);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.movie-card__delete-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .movie-card {
    width: 339px;
    height: 257px;
    border-radius: 10px;
  }

  .movie-card_hide_tab {
    display: none;
  }

  .movie-card__photo {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 460px) {
  .movie-card {
    width: 300px;
    height: 235px;    
  }

  .movie-card__photo {
    width: 300px;
    height: 168px;
  }

  .movie-card_hide_mob {
    display: none;
  }
}
