.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  transition: all 0.25s, opacity 0.25s linear;
}

.mobile-menu__container {
  width: 520px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu__close-btn {
  width: 32px;
  height: 32px;
  background-image: url(../../images/close-icon.svg);
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  align-self: end;
  margin: 22.44px 22.44px 105.44px 0;
}

.mobile-menu__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 28px;
}

.mobile-menu__link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.mobile-menu__link_active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.mobile-menu__profile {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: auto;
  margin-bottom: 91px;
}

.mobile-menu__link_type_profile {
  font-size: 14px;
  line-height: 16px;
}

.mobile-menu__profile-icon {
  width: 30px;
  height: 30px;
  background-color: #f9f9f9;
  border-radius: 6px;
  background-image: url("../../images/profile-icon.svg");
  background-size: 10.4px 10.7px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 530px) {
  .mobile-menu__container {
    width: 320px;
  }

  .mobile-menu__close-btn {
    margin: 13.44px 13.44px 98.44px 0;
  }

  .mobile-menu__navigation {
    gap: 24px;
  }

  .mobile-menu__link_active {
    text-underline-offset: 12px;
  }

  .mobile-menu__profile {
    margin-bottom: 48px;
  }
  
}
