.profile__input-container {
  width: 100%;
  display: flex;
}

.profile__input-label {
  width: 141px;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  align-self: center;
}

.profile__input {
  flex-grow: 1;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  border: 0;
}

.profile__input_invalid {
  color: #ff3055;
}

.edit__error {
  min-height: 17px;
  color: #ff3055;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  align-self: flex-end;
}

.edit__error:last-of-type {
  margin-bottom: 203px;
}

.profile__input:focus {
  outline: 1px #f0eded solid;
}

.profile__input::placeholder {
  color: #a0a0a0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.profile__line {
  width: 100%;
  border-bottom: 1px #e8e8e8 solid;
  margin-bottom: 17px;
}

.profile__logout-btn {
  display: block;
  max-width: 410px;
  padding: 0;
  margin: 15px auto 0;
  color: #ff3055;
  border: 0;
  background-color: transparent;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.profile__logout-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .edit__error:last-of-type {
    margin-bottom: 193px;
  }
}
