.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notfound__title {
  margin: 246px 0 5px;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
}

.notfound__subtitle {
  margin: 0 0 184px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.notfound__back {
  color: #3456F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.notfound__back:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .notfound__title {
    margin-top: 408px;
  }
}

@media screen and (max-width: 460px) {
  .notfound__title {
    font-size: 80px;
    line-height: 97px;
    margin-top: 329px;
    margin-bottom: 10px;
  }

  .notfound__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 284px;
  }

  .notfound__back {
    font-size: 12px;
    line-height: 15px;
  }
}