.portfolio {
  padding: 100px 70px 125px;
}

.portfolio__title {
  color: #a0a0a0;
  margin: 0 0 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  color: #000;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin-bottom: 19px;
}

.portfolio__link:last-of-type {
  margin-bottom: 0px;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__text {
  max-width: 880px;
}

.portfolio__icon {
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 90px 50px;
  }

  .portfolio__link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }

  .portfolio__icon {
    font-size: 28px;
  }
}

@media screen and (max-width: 630px) {
  .portfolio {
    padding: 70px 14px;
  }

  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__icon {
    font-size: 18px;
    line-height: 28px;
  }
}
