.navigation {
  display: flex;
  gap: 30px;
  position: relative;
}

.navigation_type_movies {
  flex-grow: 1;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
  align-self: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.navigation__link_type_movies {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.navigation__link_type_profile {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 13px;
}

.navigation__link_type_active {
  font-weight: 500;
}

.navigation__link_type_signup {
  color: #ffffff;
}

.navigation__link_type_signin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  width: 76px;
  height: 32px;
  background-color: #2be080;
  border-radius: 3px;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  align-self: center;
}

.navigation__profile {
  align-self: center;
}

.navigation__profile-icon {
  width: 30px;
  height: 30px;
  background-color: #f9f9f9;
  border-radius: 6px;
  background-image: url("../../images/profile-icon.svg");
  background-size: 10.4px 10.7px;
  background-position: center center;
  background-repeat: no-repeat;
}

.navigation__mob-menu-icon {
  display: none;
  min-width: 44px;
  min-height: 44px;
  background-image: url(../../images/mob-menu-icon.svg);
  background-size: 44px 44px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .navigation__links {
    display: none;
  }

  .navigation__profile {
    display: none;
  }

  .navigation__mob-menu-icon {
    display: block;
  }

  .navigation_type_movies {
    justify-content: end;
  }
}

@media screen and (max-width: 320px) {
  .navigation {
    gap: 14px;
  }

  .navigation__link {
    font-size: 10px;
  }

  .navigation__link_type_signin {
    width: 54px;
    height: 26px;
  }

  .navigation__mob-menu-icon {
    min-width: 38px;
    min-height: 43px;
    background-size: 38px 43px;
  }
}
