.navigation {
  display: flex;
  gap: 30px;
}

.navigation_type_movies {
  flex-grow: 1;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
  align-self: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.navigation__link_type_movies {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.navigation__link_type_profile {
  font-size: 14px;
}

.navigation__link_type_active {
  font-weight: 500;
}

.navigation__link_type_signup {
  color: #ffffff;
}

.navigation__link_type_signin {
  display: flex;
  justify-content: center;
  color: #000000;
  width: 76px;
  height: 32px;
  background-color: #2be080;
  border-radius: 3px;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  align-self: center;
}

.navigation__profile {
  display: flex;
  gap: 13px;
  align-self: center;
}

.navigation__profile-icon {
  width: 30px;
  height: 30px;
  background-color: #F9F9F9;
  border-radius: 6px;
  background-image: url('../../images/profile-icon.svg');
  background-size: 10.4px 10.7px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 320px) {
  .navigation {
    gap: 14px;
  }

  .navigation__link {
    font-size: 10px;
  }

  .navigation__link_type_signin {
    width: 54px;
    height: 26px;
  }
}
