.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s, opacity 0.25s linear;
  z-index: 3;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  width: 396px;
  background-color: #ffffff;
  padding: 60px 36px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.modal__icon {
  width: 60px;
  height: 60px;
  background-image: url(../../images/union-err.svg);
  background-size: 60px 60px;
  background-position: center;
  background-repeat: no-repeat;
}

.modal__message {
  margin: 36px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.modal__close-btn {
  min-width: 25px;
  min-height: 25px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/close-icon-wht.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  padding: 0;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 490px) {
  .modal__container {
    width: 300px;
  }

  .modal__icon {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }

  .modal__close-btn {
    min-width: 20px;
    min-height: 20px;
    top: -35px;
    right: 0;
  }

  .modal__message {
    font-size: 14px;
  }
}
