.header {
  display: flex;
  justify-content: space-between;  
  min-height: 74px;
  padding: 0 70px 0;
}

.header_theme_dark {
  background-color: #073042;
}

.header_theme_light {
  background-color: #FFFFFF;
}

.header__logo {
  min-width: 38px;
  min-height: 38px;
  background-image: url(../../images/header-logo.svg);
  background-size: 38px 38px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 44px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 15px 0;
  }
}