.login {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login__logo-link {
  margin: 70px 0 0;
  align-self: flex-start;
}

.login__logo-link:hover {
  opacity: 0.7;
}

.login__logo {
  min-width: 38px;
  min-height: 38px;
  background-image: url(../../images/header-logo.svg);
  background-size: 38px 38px;
  background-position: center;
  background-repeat: no-repeat;
}

.login__input-label {
  color: #a0a0a0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 5px;
}

.login__input {
  width: 100%;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 6px;
  padding: 0 0 10px;
  border-bottom: 1px solid #E8E8E8;
  outline: 0;
}

.login__input_invalid {
  color: #ff3055;
}

.login__input::placeholder {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.login__input:focus {
  border-color: #3456F3;
}

.login__input_invalid:focus {
  border-bottom: 1px solid #E8E8E8;
}

.login__error {
  min-height: 12px;
  color: #ff3055;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 6px;
}

.login__error:last-of-type {
  margin-bottom: 203px;
}

.login__link-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.login__allready-text {
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-right: 6px;
}

.login__link {
  color: #3456F3;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.login__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .login__logo-link {
    margin-top: 232px;
  }
}

@media screen and (max-width: 460px) {
  .login__logo-link {
    margin-top: 56px;
    align-self: center;
  }

  .login__error:last-of-type {
    margin-bottom: 292px;
  }

  .login__allready-text {
    font-size: 12px;
    line-height: 15px;
  }

  .login__link {
    font-size: 12px;
    line-height: 15px;
  }

  .login__link-container {
    margin-top: 14px;
  }
}