.about-me {
  padding: 110px 70px 0;
}

.about-me__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.88px;
  margin: 0 0 23px;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  gap: 49px;
}

.about-me__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 0 18px;
}

.about-me__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 26px;
}

.about-me__story {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__line {
  border-bottom: 1px #000 solid;
  margin-bottom: 70px;
}

.about-me__line_light {
  border-color: #e8e8e8;
  margin-bottom: 20px;
}

.about-me__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.about-me__link {
  color: #000;
  text-decoration: none;
}

.about-me__info-foto {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__portfolio {
  color: #a0a0a0;
  margin: 0 0 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.about-me__portfolio-link {
  display: flex;
  justify-content: space-between;
  color: #000;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin-bottom: 19px;
}

.about-me__portfolio-link:last-of-type {
  margin-bottom: 0px;
}

.about-me__portfolio-link:hover {
  opacity: 0.7;
}

.about-me__portfolio-text {
  max-width: 880px;
}

.about-me__portfolio-icon {
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .about-me__line {
    margin-bottom: 66px;
  }

  .about-me__line_light {
    margin-bottom: 20px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-bottom: 16px;
  }

  .about-me__subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__story {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__info-foto {
    width: 255px;
    height: 307px;
  }

  .about-me__portfolio-link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }

  .about-me__portfolio-icon {
    font-size: 28px;
  }
}

@media screen and (max-width: 630px) {
  .about-me {
    padding: 70px 14px 0;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
    margin-bottom: 28px;
  }

  .about-me__container {
    flex-direction: column;
    gap: 40px;
  }

  .about-me__info-foto {
    width: 292px;
    height: 352px;
    order: 1;
    align-self: center;
  }

  .about-me__info {
    order: 2;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__story {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .about-me__portfolio {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .about-me__portfolio-link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .about-me__portfolio-icon {
    font-size: 18px;
    line-height: 28px;
  }
}
