.navtab {
  min-height: 66px;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.navtab__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: center;
  gap: 40px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.navtab__link {
  color: #FFFFFF;
}

@media screen and (max-width: 340px) {
  .navtab__links {
    gap: 24px;
    font-size: 11px;
  }
}